.slide {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.slide img {
  margin-top: 10px;
  width: auto;        
  max-width: 500px;      
  height: auto;         
  object-fit: contain;
  display: block;
}

.arrow {
  font-size: large;
  border: none;
  background-color: black;
  color: white;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.arrow:hover {
  opacity: 0.8;
}

.arrow:disabled {
  opacity: 0.3;
}